<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
</head>

<body>
    <div class="main">
        <div *ngIf="message" class="toastMessage">
            {{ message }}
        </div>
        <div class="signup-form">
            <h1>Register an User</h1>
            <form class="signupform" #signupform (submit)="onSignUp(username.value, password.value, roles.value)" (reset)= "onReset(signupform)">
                <label for="username">Username/MailId</label><br>
                <input type="text" id="username" name="username" #username placeholder="Enter the user name"><br>
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password" #password placeholder="Enter the password"><br>
                <label for="cars">Select role</label>
                <select id="roles" #roles>
                    <option value="ADMIN">Admin</option>
                    <option value="USER">User</option>
                </select>
                <div class="button">
                    <button type="submit">Sign Up</button>
                    <button type="reset">Reset</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>